<!DOCTYPE html>
<html>
<head>
	<title>KBO API</title>
	<style>
		body {text-align: center;}
		ul { display: table;
			margin-left: auto;
			margin-right: auto;}
	</style>
</head>
<body>
	<h1>KBO 등록선수현황 API</h1>
	<img src="../static/images/logo.jpg">

	<h3>how to search?</h3>
	<p>ex) www.kbo.space/search?date=2017xxxx&amp;team=xx</p>

	<h3>date</h3>
	<p>2017시즌 내 검색가능(20170331 ~ 20171003)</p>

	<h3>team</h3>
	<ul>
		<li>두산</li>
		<li>NC</li>
		<li>넥센</li>
		<li>LG</li>
		<li>KIA</li>
		<li>SK</li>
		<li>한화</li>
		<li>롯데</li>
		<li>삼성</li>
		<li>kt</li>
	</ul>
</body>
</html>